moskito-bugs/src/main/resources/bugzilla_4.0.5+.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="bugzilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="bug"/>
      </xs:sequence>
      <xs:attribute name="version" use="required"/>
      <xs:attribute name="urlbase" use="required"/>
      <xs:attribute name="maintainer" use="required"/>
      <xs:attribute name="exporter"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bug">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bug_id"/>
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" ref="alias"/>
          <xs:element ref="creation_ts"/>
          <xs:element ref="short_desc"/>
          <xs:element ref="delta_ts"/>
          <xs:element ref="reporter_accessible"/>
          <xs:element ref="cclist_accessible"/>
          <xs:element ref="classification_id"/>
          <xs:element ref="classification"/>
          <xs:element ref="product"/>
          <xs:element ref="component"/>
          <xs:element ref="version"/>
          <xs:element ref="rep_platform"/>
          <xs:element ref="op_sys"/>
          <xs:element ref="bug_status"/>
          <xs:element minOccurs="0" ref="resolution"/>
          <xs:element minOccurs="0" ref="dup_id"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="see_also"/>
          <xs:element minOccurs="0" ref="bug_file_loc"/>
          <xs:element minOccurs="0" ref="status_whiteboard"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="keywords"/>
          <xs:element ref="priority"/>
          <xs:element ref="bug_severity"/>
          <xs:element minOccurs="0" ref="target_milestone"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="dependson"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="blocked"/>
          <xs:element ref="everconfirmed"/>
          <xs:element ref="reporter"/>
          <xs:element ref="assigned_to"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="cc"/>
          <xs:sequence minOccurs="0">
            <xs:element ref="estimated_time"/>
            <xs:element ref="remaining_time"/>
            <xs:element ref="actual_time"/>
            <xs:element minOccurs="0" ref="deadline"/>
          </xs:sequence>
          <xs:element minOccurs="0" ref="qa_contact"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox5"/>
          <xs:element minOccurs="0" ref="cf_status_firefox5"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox6"/>
          <xs:element minOccurs="0" ref="cf_status_firefox6"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox7"/>
          <xs:element minOccurs="0" ref="cf_status_firefox7"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox8"/>
          <xs:element minOccurs="0" ref="cf_status_firefox8"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox9"/>
          <xs:element minOccurs="0" ref="cf_status_firefox9"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox10"/>
          <xs:element minOccurs="0" ref="cf_status_firefox10"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox11"/>
          <xs:element minOccurs="0" ref="cf_status_firefox11"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox12"/>
          <xs:element minOccurs="0" ref="cf_status_firefox12"/>
          <xs:element minOccurs="0" ref="cf_tracking_firefox13"/>
          <xs:element minOccurs="0" ref="cf_status_firefox13"/>
          <xs:element minOccurs="0" ref="cf_tracking_esr10"/>
          <xs:element minOccurs="0" ref="cf_status_esr10"/>
          <xs:element minOccurs="0" ref="cf_blocking_20"/>
          <xs:element minOccurs="0" ref="cf_status_20"/>
          <xs:element minOccurs="0" ref="cf_blocking_192"/>
          <xs:element minOccurs="0" ref="cf_status_192"/>
          <xs:element minOccurs="0" ref="cf_blocking_191"/>
          <xs:element minOccurs="0" ref="cf_status_191"/>
          <xs:element minOccurs="0" ref="cf_blocking_fennec10"/>
          <xs:element minOccurs="0" ref="cf_blocking_fennec"/>
          <xs:element minOccurs="0" ref="cf_blocking_thunderbird33"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird33"/>
          <xs:element minOccurs="0" ref="cf_blocking_thunderbird32"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird32"/>
          <xs:element minOccurs="0" ref="cf_blocking_thunderbird31"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird31"/>
          <xs:element minOccurs="0" ref="cf_blocking_thunderbird30"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird30"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird6"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird6"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird7"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird7"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird8"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird8"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird9"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird9"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird10"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird10"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird11"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird11"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird12"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird12"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird13"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird13"/>
          <xs:element minOccurs="0" ref="cf_tracking_thunderbird_esr10"/>
          <xs:element minOccurs="0" ref="cf_status_thunderbird_esr10"/>
          <xs:element minOccurs="0" ref="cf_blocking_seamonkey21"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey21"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey22"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey22"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey23"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey23"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey24"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey24"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey25"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey25"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey26"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey26"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey27"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey27"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey28"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey28"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey29"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey29"/>
          <xs:element minOccurs="0" ref="cf_tracking_seamonkey210"/>
          <xs:element minOccurs="0" ref="cf_status_seamonkey210"/>
          <xs:element minOccurs="0" ref="cf_colo_site"/>
          <xs:element minOccurs="0" ref="cf_office"/>
          <xs:element minOccurs="0" ref="cf_crash_signature"/>
          <xs:element minOccurs="0" ref="cf_due_date"/>
          <xs:element minOccurs="0" ref="votes"/>
          <xs:element minOccurs="0" ref="token"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="group"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="flag"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="long_desc"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="attachment"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="error">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="NotFound"/>
            <xs:enumeration value="NotPermitted"/>
            <xs:enumeration value="InvalidBugId"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="bug_id" type="xs:string"/>
  <xs:element name="alias" type="xs:string"/>
  <xs:element name="reporter_accessible" type="xs:string"/>
  <xs:element name="cclist_accessible" type="xs:string"/>
  <xs:element name="exporter" type="xs:string"/>
  <xs:element name="urlbase" type="xs:string"/>
  <xs:element name="bug_status" type="xs:string"/>
  <xs:element name="classification_id" type="xs:string"/>
  <xs:element name="classification" type="xs:string"/>
  <xs:element name="product" type="xs:string"/>
  <xs:element name="priority" type="xs:string"/>
  <xs:element name="version" type="xs:string"/>
  <xs:element name="rep_platform" type="xs:string"/>
  <xs:element name="assigned_to">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="delta_ts" type="xs:string"/>
  <xs:element name="component" type="xs:string"/>
  <xs:element name="reporter">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="target_milestone" type="xs:string"/>
  <xs:element name="bug_severity" type="xs:string"/>
  <xs:element name="creation_ts" type="xs:string"/>
  <xs:element name="qa_contact">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="status_whiteboard" type="xs:string"/>
  <xs:element name="op_sys" type="xs:string"/>
  <xs:element name="resolution" type="xs:string"/>
  <xs:element name="dup_id" type="xs:string"/>
  <xs:element name="bug_file_loc" type="xs:string"/>
  <xs:element name="short_desc" type="xs:string"/>
  <xs:element name="keywords" type="xs:string"/>
  <xs:element name="dependson" type="xs:string"/>
  <xs:element name="blocked" type="xs:string"/>
  <xs:element name="everconfirmed" type="xs:string"/>
  <xs:element name="cc" type="xs:string"/>
  <xs:element name="see_also" type="xs:string"/>
  <xs:element name="votes" type="xs:string"/>
  <xs:element name="token" type="xs:string"/>
  <xs:element name="group">
    <xs:complexType mixed="true">
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="estimated_time" type="xs:string"/>
  <xs:element name="remaining_time" type="xs:string"/>
  <xs:element name="actual_time" type="xs:string"/>
  <xs:element name="deadline" type="xs:string"/>
  <xs:element name="cf_tracking_firefox5" type="xs:string"/>
  <xs:element name="cf_status_firefox5" type="xs:string"/>
  <xs:element name="cf_tracking_firefox6" type="xs:string"/>
  <xs:element name="cf_status_firefox6" type="xs:string"/>
  <xs:element name="cf_tracking_firefox7" type="xs:string"/>
  <xs:element name="cf_status_firefox7" type="xs:string"/>
  <xs:element name="cf_tracking_firefox8" type="xs:string"/>
  <xs:element name="cf_status_firefox8" type="xs:string"/>
  <xs:element name="cf_tracking_firefox9" type="xs:string"/>
  <xs:element name="cf_status_firefox9" type="xs:string"/>
  <xs:element name="cf_tracking_firefox10" type="xs:string"/>
  <xs:element name="cf_status_firefox10" type="xs:string"/>
  <xs:element name="cf_tracking_firefox11" type="xs:string"/>
  <xs:element name="cf_status_firefox11" type="xs:string"/>
  <xs:element name="cf_tracking_firefox12" type="xs:string"/>
  <xs:element name="cf_status_firefox12" type="xs:string"/>
  <xs:element name="cf_tracking_firefox13" type="xs:string"/>
  <xs:element name="cf_status_firefox13" type="xs:string"/>
  <xs:element name="cf_tracking_esr10" type="xs:string"/>
  <xs:element name="cf_status_esr10" type="xs:string"/>
  <xs:element name="cf_blocking_20" type="xs:string"/>
  <xs:element name="cf_status_20" type="xs:string"/>
  <xs:element name="cf_blocking_192" type="xs:string"/>
  <xs:element name="cf_status_192" type="xs:string"/>
  <xs:element name="cf_blocking_191" type="xs:string"/>
  <xs:element name="cf_status_191" type="xs:string"/>
  <xs:element name="cf_blocking_fennec10" type="xs:string"/>
  <xs:element name="cf_blocking_fennec" type="xs:string"/>
  <xs:element name="cf_blocking_thunderbird33" type="xs:string"/>
  <xs:element name="cf_status_thunderbird33" type="xs:string"/>
  <xs:element name="cf_blocking_thunderbird32" type="xs:string"/>
  <xs:element name="cf_status_thunderbird32" type="xs:string"/>
  <xs:element name="cf_blocking_thunderbird31" type="xs:string"/>
  <xs:element name="cf_status_thunderbird31" type="xs:string"/>
  <xs:element name="cf_blocking_thunderbird30" type="xs:string"/>
  <xs:element name="cf_status_thunderbird30" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird6" type="xs:string"/>
  <xs:element name="cf_status_thunderbird6" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird7" type="xs:string"/>
  <xs:element name="cf_status_thunderbird7" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird8" type="xs:string"/>
  <xs:element name="cf_status_thunderbird8" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird9" type="xs:string"/>
  <xs:element name="cf_status_thunderbird9" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird10" type="xs:string"/>
  <xs:element name="cf_status_thunderbird10" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird11" type="xs:string"/>
  <xs:element name="cf_status_thunderbird11" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird12" type="xs:string"/>
  <xs:element name="cf_status_thunderbird12" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird13" type="xs:string"/>
  <xs:element name="cf_status_thunderbird13" type="xs:string"/>
  <xs:element name="cf_tracking_thunderbird_esr10" type="xs:string"/>
  <xs:element name="cf_status_thunderbird_esr10" type="xs:string"/>
  <xs:element name="cf_blocking_seamonkey21" type="xs:string"/>
  <xs:element name="cf_status_seamonkey21" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey22" type="xs:string"/>
  <xs:element name="cf_status_seamonkey22" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey23" type="xs:string"/>
  <xs:element name="cf_status_seamonkey23" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey24" type="xs:string"/>
  <xs:element name="cf_status_seamonkey24" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey25" type="xs:string"/>
  <xs:element name="cf_status_seamonkey25" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey26" type="xs:string"/>
  <xs:element name="cf_status_seamonkey26" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey27" type="xs:string"/>
  <xs:element name="cf_status_seamonkey27" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey28" type="xs:string"/>
  <xs:element name="cf_status_seamonkey28" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey29" type="xs:string"/>
  <xs:element name="cf_status_seamonkey29" type="xs:string"/>
  <xs:element name="cf_tracking_seamonkey210" type="xs:string"/>
  <xs:element name="cf_status_seamonkey210" type="xs:string"/>
  <xs:element name="cf_colo_site" type="xs:string"/>
  <xs:element name="cf_office" type="xs:string"/>
  <xs:element name="cf_crash_signature" type="xs:string"/>
  <xs:element name="cf_due_date" type="xs:string"/>
  <xs:element name="long_desc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="commentid"/>
        <xs:element minOccurs="0" ref="attachid"/>
        <xs:element ref="who"/>
        <xs:element ref="bug_when"/>
        <xs:element minOccurs="0" ref="work_time"/>
        <xs:element ref="thetext"/>
      </xs:sequence>
      <xs:attribute name="isprivate" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="commentid" type="xs:string"/>
  <xs:element name="who">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bug_when" type="xs:string"/>
  <xs:element name="work_time" type="xs:string"/>
  <xs:element name="thetext" type="xs:string"/>
  <xs:element name="attachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="attachid"/>
        <xs:element ref="date"/>
        <xs:element ref="delta_ts"/>
        <xs:element ref="desc"/>
        <xs:element ref="filename"/>
        <xs:element ref="type"/>
        <xs:element ref="size"/>
        <xs:element ref="attacher"/>
        <xs:element minOccurs="0" ref="token"/>
        <xs:element minOccurs="0" ref="data"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="flag"/>
      </xs:sequence>
      <xs:attribute name="isobsolete" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ispatch" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isprivate" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isurl" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="attacher" type="xs:string"/>
  <xs:element name="attachid" type="xs:string"/>
  <xs:element name="date" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="filename" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="size" type="xs:string"/>
  <xs:element name="data">
    <xs:complexType mixed="true">
      <xs:attribute name="encoding">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="base64"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="flag">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="type_id" use="required"/>
      <xs:attribute name="status" use="required"/>
      <xs:attribute name="setter" use="required"/>
      <xs:attribute name="requestee"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
